<!DOCTYPE html>
<script>
    window.onsubmit = check;
</script>
<html lang="en">
    <head>
        <title>Items Screen</title>
        <meta charset="utf-8">
    </head>
    <body>
        <h1 id="title" style="color: red;">Welcome!</h1>
        <form action=https://cmsc335-final-dep.onrender.com/confirmation method="post">
            <fieldset style="width: 30rem; ">
                <!-- <img src="jean.png" alt="Denim Shorts"> -->
               <img src="/images/denim.jpg" style="width:9rem">
               <img src="/images/denim.jpg" style="width:9rem">
               <img src="/images/denim.jpg" style="width:9rem"><br>


                <strong>Denim Shorts:</strong>
               <strong>Quantity (#):</strong> 
               <input type="text" name="denim">
               
               <br>
               <hr>
               <br>
               <img src="/images/shirt.jpg" style="width:9rem">
               <img src="/images/shirt.jpg" style="width:9rem">
               <img src="/images/shirt.jpg" style="width:9rem">
               <strong>Oversized Graphic Shirt:</strong>
               <strong>Quantity (#):</strong> <input type="text" name="shirt">
                <br>
                <br>
                <strong>Name (First and Last):</strong>
                <input type="text" name="name">
                <br>

                <br>
               <strong style="font-size:.9em">Shipping Address (Please enter a valid address):</strong>
               <input type="text" name="address">

                <br>
                <br>
                <input type="submit" value="Enter Site">
            </fieldset>
        </form>
    </body>
</html>